@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100%;
    height: -webkit-fill-available;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}


.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: white;
    background-color: #1e5128;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;

}


.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);

}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}

/*color*/

.bg-darkgray {
    background-color: #1b1b1b;
}

.bg-content {
	background-color: #f1f5f9;
}

.c-darkgray {
    color: #1b1b1b;
}

.bg-gray {
    background-color: #DFF1F4;
}

.c-gray {
    color: #3a3a3c;
}

.bg-yellow {
    background-color: #E7B10A;
}

.c-yellow {
    color: #00000000;
}

.bg-white {
    background-color: #EEEEEE;
}

.c-white {
    color: #000;
}

.bg-header {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: #FFFFFF;
	position: relative;
	z-index: 10;
}

/*fuentes*/

.font-s-30 {
    font-size: 30px;
}

.font-w-bold {
    font-weight: bold;
}



/*tamano*/
.h-logo {
    height: 15%;
}

.hs-logo {
    height: 5%;
}


/*hover*/
.btn-hover:hover {
    background-color: #1b1b1b;
    color: #EEEEEE;
}

.a-hover:hover {
    color: #EEEEEE;
}

.i-hover:hover {
    color: #3a3a3c;
}

.i-hover-d:hover {
    color: #cf0000;
}

.li-hover:hover .icon {
    color: #3a3a3c;
}

.contenedor-cuentas {
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}
.card-min-w {
	min-width: 250px;
}

.cuenta {
	width: 100%;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.cuenta:hover {
	background-color: rgba(0,0,0,0.1);
}

.transaccion-item {
	background-color: #ffffff;
	transition: 0.3s;
}

.transaccion-item:hover {
	cursor: pointer;
	background-color: #f8f9fa;
}

.btn-indigo {
	color: #EEEEEE;
	background-color: #4f46e5;
	transition: .2s;
}

.btn-indigo:hover {
	color: #EEEEEE;
	background-color: #6366f1;
}

/* Estilo adicional para el login */
.title {
    font-size: 36px;
    font-weight: bold;
    color: #2C2C2C;
    margin-bottom: 20px;
}

body.login-bg {
    background-color: #DFF1F4; /* Fondo claro para la página de login */
}

.form-signin {
    background-color: #FFFFFF; /* Fondo claro para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-signin .form-floating {
    margin-bottom: 15px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.form-signin button {
    background-color: #67A6C7; /* Color del botón */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-signin button:hover {
    background-color: #5291AB; /* Color del botón al pasar el cursor */
}


.title {
    font-size: 36px;
    font-weight: bold;
    color: #2C2C2C;
    margin-bottom: 20px;
}


